.backtotop {
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  margin-left: 1230px;
  width: 40px;
  height: 40px;
  background-color: rgb(143, 143, 143);
  border-radius: 5px;
}

.backtotop:hover {
  color: #fff;
  text-decoration: none;
}

.chart-pie {
  width: 300px !important;
  height: 400px !important;
  margin: auto;
}

#componentsToggle {
  cursor: pointer;
}

.popup {
  position: absolute;
  transform: translate3d(-158px, 18px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.dropdownNoArrow {
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.bgprimarys {
  min-height: 100vh;
}